.nav-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.nav-items {
  width: 17%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
